<?xml version="1.0"?>
<launch>

<!-- arena camera left -->
    <arg name="arena_node_name_left" default="arena_cam_qc2" />
    <arg name="arena_config_file_left" default="$(find arena_camera)/config/arena_TRI050QC_2.yaml" />
    <node name="$(arg arena_node_name_left)" pkg="arena_camera" type="arena_camera_node" 
        output="screen" respawn="true">
        <rosparam command="load" file="$(arg arena_config_file_left)" />
    </node>
<!--arena camera right-->
    <arg name="arena_node_name_right" default="arena_cam_qc1" />
    <arg name="arena_config_file_right" default="$(find arena_camera)/config/arena_TRI050QC_1.yaml" />
    <node name="$(arg arena_node_name_right)" pkg="arena_camera" type="arena_camera_node" 
        output="screen" respawn="true">
        <rosparam command="load" file="$(arg arena_config_file_right)" />
    </node>

<!--AHRS driver-->
    <node name="ahrs_driver_node" pkg="ahrs_driver" type="ahrs_driver_node" output="screen"
          respawn="true">
	    <param name="device_type" type="string" value="1101" />
        <param name="device_name" type="string" value="/dev/ttyUSB0" /> 
    </node>
<!--monitor-->
    <node name="image_view_l" pkg="image_view" type="image_view" output="screen" respawn="false">
        <remap from="image" to="/$(arg arena_node_name_left)/image_raw" />
        <param name="autosize" value="true" />
    </node>
    <!-- <node name="image_view_r" pkg="image_view" type="image_view" output="screen" respawn="false">
        <remap from="image" to="/$(arg arena_node_name_right)/image_raw" />
        <param name="autosize" value="true" />
    </node> -->

</launch>
