<?xml version="1.0"?>
<launch>
    <arg name="respawn" default="false" />
    <arg name="debug" default="false" />
    <arg name="arena_node_name" default="arena_cam_qc2" />
    <arg name="config_file" default="$(find arena_camera)/config/arena_TRI050QC_2.yaml" />

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

    <node name="$(arg arena_node_name)" pkg="arena_camera" type="arena_camera_node" output="screen"
          respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
        <rosparam command="load" file="$(arg config_file)" />
    </node>

    <node name="image_view_2" pkg="image_view" type="image_view" output="screen" respawn="false">
        <remap from="image" to="/$(arg arena_node_name)/image_raw" />
        <param name="autosize" value="true" />
    </node>
</launch>
