<?xml version="1.0"?>
<launch>

<!-- arena camera left -->
    <arg name="arena_node_name_left" default="arena_cam_qc2" />
    <arg name="arena_config_file_left" default="$(find arena_camera)/config/detect_TRI050QC_2.yaml" />
    <node name="$(arg arena_node_name_left)" pkg="arena_camera" type="arena_camera_node" 
        output="screen" respawn="true">
        <rosparam command="load" file="$(arg arena_config_file_left)" />
    </node>
<!--arena camera right-->
    <arg name="arena_node_name_right" default="arena_cam_qc1" />
    <arg name="arena_config_file_right" default="$(find arena_camera)/config/detect_TRI050QC_1.yaml" />
    <node name="$(arg arena_node_name_right)" pkg="arena_camera" type="arena_camera_node" 
        output="screen" respawn="true">
        <rosparam command="load" file="$(arg arena_config_file_right)" />
    </node>

</launch>
